# Test files
tests/testbench/obj_dir
tests/testbench/tb
tests/testbench/CPU.vcd
tests/testbench/CPU.v
tests/testbench/work-obj93.cf
tests/CPU.vcd
tests/tests/bin

# IDE files
gowin/impl

# Bootloader files
boot/build

# clangd cache
.cache